# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Avoid uploading dataset
FULLIJCNN2013/
images/
h5Dataset/
Dataset/FULLIJCNN2013/
Dataset/images/
Dataset/images_old/
Dataset/satina_gains_images/
Dataset/h5Dataset/
Models/saved_models
Dataset/belgian_images/
Dataset/homotest/
Dataset/ETSD_Adjusted/
Dataset/ETSD_GTSRB_N_GTSDB/
Dataset/miladgainsimage/
Dataset/roni_bot/
error_messages/
#phase_two/csv_output/
#phase_one/csv_data/
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
*.cfg
Scripts/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
Dataset/roni_output/0_a_1.001_b_0.0.ppm
Dataset/roni_output/1_a_1.479_b_-0.921.ppm
Dataset/roni_output/2_a_1.001_b_0.0.ppm
Dataset/roni_output/3_a_1.001_b_0.0.ppm
Dataset/roni_output/4_a_1.001_b_0.0.ppm
Dataset/roni_output/5_a_1.679_b_-0.737.ppm
Dataset/roni_output/6_a_1.21_b_0.295.ppm
Dataset/roni_output/7_a_1.001_b_0.0.ppm
Dataset/roni_output/8_a_1.001_b_0.0.ppm
Dataset/roni_output/9_a_1.318_b_0.234.ppm
Dataset/roni_output/10_a_1.001_b_0.0.ppm
Dataset/roni_output/11_a_1.926_b_-0.561.ppm
Dataset/roni_output/12_a_1.001_b_0.0.ppm
Dataset/roni_output/13_a_1.001_b_0.0.ppm
Dataset/roni_output/14_a_2.534_b_0.884.ppm
Dataset/roni_output/15_a_1.001_b_0.0.ppm
Dataset/roni_output/16_a_1.001_b_0.0.ppm
Dataset/roni_output/17_a_0.529_b_-2.781.ppm
Dataset/roni_output/18_a_1.001_b_0.0.ppm
Dataset/roni_output/19_a_1.449_b_-0.048.ppm
Dataset/roni_output/20_a_0.788_b_-0.155.ppm
Dataset/roni_output/21_a_1.156_b_0.067.ppm
Dataset/roni_output/22_a_1.001_b_0.0.ppm
Dataset/roni_output/23_a_0.942_b_-0.08.ppm
Dataset/roni_output/24_a_1.001_b_0.0.ppm
Dataset/roni_output/25_a_1.001_b_0.0.ppm
Dataset/roni_output/26_a_0.458_b_-0.55.ppm
Dataset/roni_output/27_a_1.001_b_0.0.ppm
Dataset/roni_output/28_a_1.001_b_0.0.ppm
Dataset/roni_output/29_a_1.001_b_0.0.ppm
Dataset/roni_output/30_a_0.373_b_0.885.ppm
Dataset/roni_output/31_a_1.001_b_0.0.ppm
Dataset/roni_output/32_a_1.607_b_-0.189.ppm
Dataset/roni_output/33_a_1.001_b_0.0.ppm
Dataset/roni_output/34_a_1.001_b_0.0.ppm
Dataset/roni_output/35_a_4.247_b_-1.493.ppm
Dataset/roni_output/36_a_1.001_b_0.0.ppm
Dataset/roni_output/37_a_0.723_b_0.952.ppm
Dataset/roni_output/38_a_0.139_b_0.949.ppm
Dataset/roni_output/39_a_1.54_b_-0.158.ppm
Dataset/roni_output/40_a_1.637_b_-0.164.ppm
Dataset/roni_output/41_a_0.807_b_-0.168.ppm
Dataset/roni_output/42_a_1.001_b_0.0.ppm
Dataset/roni_output/43_a_1.001_b_0.0.ppm
Dataset/roni_output/44_a_2.297_b_0.413.ppm
Dataset/roni_output/45_a_1.525_b_-0.159.ppm
Dataset/roni_output/46_a_1.061_b_-3.137.ppm
Dataset/roni_output/47_a_1.001_b_0.0.ppm
Dataset/roni_output/48_a_0.11_b_0.204.ppm
Dataset/roni_output/49_a_-0.4_b_0.904.ppm
Dataset/roni_output/50_a_1.001_b_0.0.ppm
Dataset/roni_output/51_a_1.234_b_0.117.ppm
Dataset/roni_output/52_a_1.001_b_0.0.ppm
Dataset/roni_output/53_a_1.09_b_0.096.ppm
Dataset/roni_output/54_a_1.001_b_0.0.ppm
Dataset/roni_output/55_a_1.253_b_0.13.ppm
Dataset/roni_output/56_a_1.001_b_0.0.ppm
Dataset/roni_output/57_a_1.001_b_0.0.ppm
Dataset/roni_output/58_a_1.001_b_0.0.ppm
Dataset/roni_output/59_a_1.38_b_-0.055.ppm
Dataset/roni_output/60_a_1.367_b_-0.913.ppm
Dataset/roni_output/61_a_1.172_b_0.364.ppm
Dataset/roni_output/62_a_1.001_b_0.0.ppm
Dataset/roni_output/63_a_1.296_b_0.132.ppm
Dataset/roni_output/64_a_1.114_b_-0.056.ppm
Dataset/roni_output/65_a_-0.666_b_1.774.ppm
Dataset/roni_output/66_a_1.001_b_0.0.ppm
Dataset/roni_output/67_a_1.001_b_0.0.ppm
Dataset/roni_output/68_a_1.616_b_-0.236.ppm
Dataset/roni_output/69_a_1.001_b_0.0.ppm
Dataset/roni_output/70_a_-2.229_b_3.135.ppm
Dataset/roni_output/71_a_1.001_b_0.0.ppm
Dataset/roni_output/72_a_2.383_b_-0.687.ppm
Dataset/roni_output/73_a_1.001_b_0.0.ppm
Dataset/roni_output/74_a_1.001_b_0.0.ppm
Dataset/roni_output/75_a_1.001_b_0.0.ppm
Dataset/roni_output/76_a_1.001_b_0.0.ppm
Dataset/roni_output/77_a_1.094_b_-1.064.ppm
Dataset/roni_output/78_a_1.755_b_-0.353.ppm
Dataset/roni_output/79_a_1.001_b_0.0.ppm
Dataset/roni_output/80_a_-0.567_b_0.115.ppm
Dataset/roni_output/81_a_1.001_b_0.0.ppm
Dataset/roni_output/82_a_1.001_b_0.0.ppm
Dataset/roni_output/83_a_1.001_b_0.0.ppm
Dataset/roni_output/84_a_1.793_b_1.478.ppm
Dataset/roni_output/85_a_2.78_b_0.103.ppm
Dataset/roni_output/86_a_-0.738_b_0.588.ppm
Dataset/roni_output/87_a_1.596_b_-0.618.ppm
Dataset/roni_output/88_a_2.649_b_-2.659.ppm
Dataset/roni_output/89_a_1.001_b_0.0.ppm
Dataset/roni_output/90_a_1.001_b_0.0.ppm
Dataset/roni_output/91_a_-1.268_b_0.579.ppm
Dataset/roni_output/92_a_1.48_b_0.146.ppm
Dataset/roni_output/93_a_1.068_b_-0.043.ppm
Dataset/roni_output/94_a_-2.324_b_2.507.ppm
Dataset/roni_output/95_a_0.625_b_3.501.ppm
Dataset/roni_output/96_a_2.313_b_0.012.ppm
Dataset/roni_output/97_a_1.001_b_0.0.ppm
Dataset/roni_output/98_a_1.433_b_0.026.ppm
Dataset/roni_output/99_a_1.706_b_0.078.ppm
Dataset/roni_output/100_a_1.001_b_0.0.ppm
Dataset/roni_output/101_a_1.001_b_0.0.ppm
Dataset/roni_output/102_a_2.607_b_-1.013.ppm
Dataset/roni_output/103_a_0.548_b_0.088.ppm
Dataset/roni_output/104_a_1.001_b_0.0.ppm
Dataset/roni_output/105_a_1.001_b_0.0.ppm
Dataset/roni_output/106_a_0.898_b_1.922.ppm
Dataset/roni_output/107_a_1.642_b_-0.428.ppm
Dataset/roni_output/108_a_1.001_b_0.0.ppm
Dataset/roni_output/109_a_-0.336_b_1.054.ppm
Dataset/roni_output/110_a_3.39_b_-0.035.ppm
Dataset/roni_output/111_a_1.001_b_0.0.ppm
Dataset/roni_output/112_a_1.001_b_0.0.ppm
Dataset/roni_output/113_a_0.679_b_0.386.ppm
Dataset/roni_output/114_a_2.248_b_-0.848.ppm
Dataset/roni_output/115_a_1.51_b_0.226.ppm
Dataset/roni_output/116_a_1.001_b_0.0.ppm
Dataset/roni_output/117_a_-1.238_b_1.756.ppm
Dataset/roni_output/118_a_1.001_b_0.0.ppm
Dataset/roni_output/119_a_1.067_b_0.139.ppm
Dataset/roni_output/120_a_0.261_b_0.857.ppm
Dataset/roni_output/121_a_-3.199_b_3.321.ppm
Dataset/roni_output/122_a_0.979_b_0.206.ppm
Dataset/roni_output/123_a_1.086_b_-0.626.ppm
Dataset/roni_output/124_a_1.001_b_0.0.ppm
Dataset/roni_output/125_a_1.001_b_0.0.ppm
Dataset/roni_output/126_a_1.001_b_0.0.ppm
Dataset/roni_output/127_a_1.001_b_0.0.ppm
Dataset/roni_output/128_a_1.001_b_0.0.ppm
Dataset/roni_output/129_a_0.705_b_1.032.ppm
Dataset/roni_output/130_a_3.851_b_-0.177.ppm
Dataset/roni_output/131_a_1.001_b_0.0.ppm
Dataset/roni_output/132_a_1.952_b_-0.614.ppm
Dataset/roni_output/133_a_1.001_b_0.0.ppm
Dataset/roni_output/134_a_2.68_b_0.312.ppm
Dataset/roni_output/135_a_1.001_b_0.0.ppm
Dataset/roni_output/136_a_1.525_b_-0.296.ppm
Dataset/roni_output/137_a_1.001_b_0.0.ppm
Dataset/roni_output/138_a_1.001_b_0.0.ppm
Dataset/roni_output/139_a_-1.038_b_-1.007.ppm
Dataset/roni_output/140_a_1.001_b_0.0.ppm
Dataset/roni_output/141_a_0.498_b_0.498.ppm
Dataset/roni_output/142_a_2.103_b_0.299.ppm
Dataset/roni_output/143_a_1.001_b_0.0.ppm
Dataset/roni_output/144_a_1.744_b_-0.482.ppm
Dataset/roni_output/145_a_1.266_b_0.142.ppm
Dataset/roni_output/146_a_1.082_b_1.042.ppm
Dataset/roni_output/147_a_1.091_b_0.219.ppm
Dataset/roni_output/148_a_-0.332_b_-1.18.ppm
Dataset/roni_output/149_a_0.693_b_0.5.ppm
Dataset/roni_output/150_a_1.001_b_0.0.ppm
Dataset/roni_output/151_a_1.031_b_0.421.ppm
Dataset/roni_output/152_a_0.256_b_-0.209.ppm
Dataset/roni_output/153_a_0.372_b_0.504.ppm
Dataset/roni_output/154_a_0.597_b_0.947.ppm
Dataset/roni_output/155_a_1.001_b_0.0.ppm
Dataset/roni_output/156_a_1.001_b_0.0.ppm
Dataset/roni_output/157_a_0.358_b_0.551.ppm
Dataset/roni_output/158_a_1.193_b_0.424.ppm
Dataset/roni_output/159_a_1.001_b_0.0.ppm
Dataset/roni_output/160_a_-0.621_b_1.788.ppm
Dataset/roni_output/161_a_1.028_b_0.177.ppm
Dataset/roni_output/162_a_1.037_b_0.308.ppm
Dataset/roni_output/163_a_1.001_b_0.0.ppm
Dataset/roni_output/164_a_0.604_b_0.176.ppm
Dataset/roni_output/165_a_1.237_b_0.239.ppm
Dataset/roni_output/166_a_1.052_b_0.466.ppm
Dataset/roni_output/167_a_-0.375_b_-1.882.ppm
Dataset/roni_output/168_a_1.345_b_0.157.ppm
Dataset/roni_output/169_a_1.001_b_0.0.ppm
Dataset/roni_output/170_a_1.001_b_0.0.ppm
Dataset/roni_output/171_a_1.001_b_0.0.ppm
Dataset/roni_output/172_a_0.699_b_-0.301.ppm
Dataset/roni_output/173_a_1.001_b_0.0.ppm
Dataset/roni_output/174_a_0.83_b_-1.582.ppm
Dataset/roni_output/175_a_0.343_b_-0.146.ppm
Dataset/roni_output/176_a_1.262_b_0.409.ppm
Dataset/roni_output/177_a_0.847_b_-0.999.ppm
Dataset/roni_output/178_a_1.001_b_0.0.ppm
Dataset/roni_output/179_a_1.001_b_0.0.ppm
Dataset/roni_output/180_a_1.001_b_0.0.ppm
Dataset/roni_output/181_a_0.774_b_0.284.ppm
Dataset/roni_output/182_a_1.001_b_0.0.ppm
Dataset/roni_output/183_a_1.001_b_0.0.ppm
Dataset/roni_output/184_a_1.494_b_0.098.ppm
Dataset/roni_output/185_a_0.682_b_0.452.ppm
Dataset/roni_output/186_a_1.413_b_0.004.ppm
Dataset/roni_output/187_a_0.642_b_0.696.ppm
Dataset/roni_output/188_a_1.001_b_0.0.ppm
Dataset/roni_output/189_a_0.857_b_0.275.ppm
Dataset/roni_output/190_a_1.001_b_0.0.ppm
Dataset/roni_output/191_a_1.153_b_0.383.ppm
Dataset/roni_output/192_a_0.703_b_0.931.ppm
Dataset/roni_output/193_a_1.001_b_0.0.ppm
Dataset/roni_output/194_a_1.001_b_0.0.ppm
Dataset/roni_output/195_a_1.394_b_0.341.ppm
Dataset/roni_output/196_a_1.001_b_0.0.ppm
Dataset/roni_output/197_a_1.001_b_0.0.ppm
Dataset/roni_output/198_a_0.866_b_0.237.ppm
Dataset/roni_output/199_a_1.001_b_0.0.ppm
Dataset/roni_output/200_a_1.001_b_0.0.ppm
Dataset/roni_output/201_a_1.001_b_0.0.ppm
Dataset/roni_output/202_a_1.001_b_0.0.ppm
Dataset/roni_output/203_a_0.984_b_-0.129.ppm
Dataset/roni_output/204_a_1.001_b_0.0.ppm
Dataset/roni_output/205_a_1.001_b_0.0.ppm
Dataset/roni_output/206_a_1.001_b_0.0.ppm
Dataset/roni_output/207_a_1.496_b_0.224.ppm
Dataset/roni_output/208_a_1.001_b_0.0.ppm
Dataset/roni_output/209_a_1.34_b_0.063.ppm
Dataset/roni_output/210_a_0.747_b_0.339.ppm
Dataset/roni_output/211_a_1.07_b_0.183.ppm
Dataset/roni_output/212_a_2.146_b_3.652.ppm
Dataset/roni_output/213_a_1.504_b_-0.003.ppm
Dataset/roni_output/214_a_1.001_b_0.0.ppm
Dataset/roni_output/215_a_1.653_b_0.192.ppm
Dataset/roni_output/216_a_1.729_b_0.718.ppm
Dataset/roni_output/217_a_2.029_b_0.22.ppm
Dataset/roni_output/218_a_2.057_b_-0.123.ppm
Dataset/roni_output/219_a_1.702_b_0.059.ppm
Dataset/roni_output/220_a_1.038_b_0.198.ppm
Dataset/roni_output/221_a_2.019_b_-0.253.ppm
Dataset/roni_output/222_a_1.001_b_0.0.ppm
Dataset/roni_output/223_a_-0.066_b_0.608.ppm
Dataset/roni_output/224_a_1.199_b_-0.273.ppm
Dataset/roni_output/225_a_1.001_b_0.0.ppm
Dataset/roni_output/226_a_1.001_b_0.0.ppm
Dataset/roni_output/227_a_0.957_b_0.238.ppm
Dataset/roni_output/228_a_1.001_b_0.0.ppm
Dataset/roni_output/229_a_2.608_b_0.533.ppm
Dataset/roni_output/230_a_0.87_b_0.488.ppm
Dataset/roni_output/231_a_1.144_b_0.158.ppm
Dataset/roni_output/232_a_1.001_b_0.0.ppm
Dataset/roni_output/233_a_1.001_b_0.0.ppm
Dataset/roni_output/234_a_1.001_b_0.0.ppm
Dataset/roni_output/235_a_1.069_b_0.192.ppm
Dataset/roni_output/236_a_1.001_b_0.0.ppm
Dataset/roni_output/237_a_1.559_b_0.002.ppm
Dataset/roni_output/238_a_1.001_b_0.0.ppm
Dataset/roni_output/239_a_1.001_b_0.0.ppm
Dataset/roni_output/240_a_2.723_b_-3.552.ppm
Dataset/roni_output/241_a_1.001_b_0.0.ppm
Dataset/roni_output/242_a_1.428_b_0.192.ppm
Dataset/roni_output/243_a_1.794_b_0.029.ppm
Dataset/roni_output/244_a_0.534_b_-1.222.ppm
Dataset/roni_output/245_a_0.565_b_0.443.ppm
Dataset/roni_output/246_a_1.524_b_0.038.ppm
Dataset/roni_output/247_a_1.347_b_0.008.ppm
Dataset/roni_output/248_a_1.001_b_0.0.ppm
Dataset/roni_output/249_a_1.001_b_0.0.ppm
Dataset/roni_output/250_a_1.559_b_-0.092.ppm
Dataset/roni_output/251_a_0.998_b_0.402.ppm
Dataset/roni_output/252_a_1.066_b_0.176.ppm
Dataset/roni_output/253_a_1.001_b_0.0.ppm
Dataset/roni_output/254_a_1.001_b_0.0.ppm
Dataset/roni_output/255_a_1.001_b_0.0.ppm
Dataset/roni_output/256_a_1.017_b_0.467.ppm
Dataset/roni_output/257_a_1.13_b_0.408.ppm
Dataset/roni_output/258_a_2.457_b_4.536.ppm
Dataset/roni_output/259_a_1.001_b_0.0.ppm
Dataset/roni_output/260_a_1.001_b_0.0.ppm
Dataset/roni_output/261_a_1.001_b_0.0.ppm
Dataset/roni_output/262_a_0.589_b_-0.016.ppm
Dataset/roni_output/263_a_1.001_b_0.0.ppm
Dataset/roni_output/264_a_1.525_b_0.136.ppm
Dataset/roni_output/265_a_1.001_b_0.0.ppm
Dataset/roni_output/266_a_1.001_b_0.0.ppm
Dataset/roni_output/267_a_1.001_b_0.0.ppm
Dataset/roni_output/268_a_1.001_b_0.0.ppm
Dataset/roni_output/269_a_1.001_b_0.0.ppm
Dataset/roni_output/270_a_-1.261_b_-0.934.ppm
Dataset/roni_output/271_a_1.001_b_0.0.ppm
Dataset/roni_output/272_a_1.822_b_3.874.ppm
Dataset/roni_output/273_a_1.001_b_0.0.ppm
Dataset/roni_output/274_a_1.017_b_0.42.ppm
Dataset/roni_output/275_a_-0.054_b_0.638.ppm
Dataset/roni_output/276_a_1.042_b_1.225.ppm
Dataset/roni_output/277_a_0.853_b_0.223.ppm
Dataset/roni_output/278_a_1.001_b_0.0.ppm
Dataset/roni_output/279_a_1.062_b_0.428.ppm
Dataset/roni_output/280_a_0.683_b_-0.499.ppm
Dataset/roni_output/281_a_1.001_b_0.0.ppm
Dataset/roni_output/282_a_0.949_b_0.301.ppm
Dataset/roni_output/283_a_1.001_b_0.0.ppm
Dataset/roni_output/284_a_-0.62_b_11.593.ppm
Dataset/roni_output/285_a_1.001_b_0.0.ppm
Dataset/roni_output/286_a_2.063_b_-0.004.ppm
Dataset/roni_output/287_a_1.001_b_0.0.ppm
Dataset/roni_output/288_a_1.001_b_0.0.ppm
Dataset/roni_output/289_a_1.001_b_0.0.ppm
Dataset/roni_output/290_a_1.158_b_0.202.ppm
Dataset/roni_output/291_a_1.001_b_0.0.ppm
Dataset/roni_output/292_a_1.036_b_-0.249.ppm
Dataset/roni_output/293_a_1.555_b_0.091.ppm
Dataset/roni_output/294_a_1.224_b_0.054.ppm
Dataset/roni_output/295_a_1.001_b_0.0.ppm
Dataset/roni_output/296_a_1.001_b_0.0.ppm
Dataset/roni_output/297_a_1.233_b_0.278.ppm
Dataset/roni_output/298_a_0.94_b_0.528.ppm
Dataset/roni_output/299_a_1.001_b_0.0.ppm
Dataset/roni_output/300_a_1.001_b_0.0.ppm
Dataset/roni_output/301_a_1.225_b_0.176.ppm
Dataset/roni_output/302_a_1.001_b_0.0.ppm
Dataset/roni_output/303_a_1.001_b_0.0.ppm
Dataset/roni_output/304_a_1.377_b_1.026.ppm
Dataset/roni_output/305_a_1.567_b_0.091.ppm
Dataset/roni_output/306_a_0.552_b_-1.194.ppm
Dataset/roni_output/307_a_1.001_b_0.0.ppm
Dataset/roni_output/308_a_1.001_b_0.0.ppm
Dataset/roni_output/309_a_1.286_b_0.106.ppm
Dataset/roni_output/310_a_1.001_b_0.0.ppm
Dataset/roni_output/311_a_1.001_b_0.0.ppm
Dataset/roni_output/312_a_1.001_b_0.0.ppm
Dataset/roni_output/313_a_0.933_b_0.289.ppm
Dataset/roni_output/314_a_1.001_b_0.0.ppm
Dataset/roni_output/315_a_1.517_b_0.511.ppm
Dataset/roni_output/316_a_1.001_b_0.0.ppm
Dataset/roni_output/317_a_1.373_b_0.293.ppm
Dataset/roni_output/318_a_1.001_b_0.0.ppm
Dataset/roni_output/319_a_1.172_b_0.166.ppm
Dataset/roni_output/320_a_2.293_b_-0.441.ppm
Dataset/roni_output/321_a_1.001_b_0.0.ppm
Dataset/roni_output/322_a_1.815_b_-0.097.ppm
Dataset/roni_output/323_a_1.001_b_0.0.ppm
Dataset/roni_output/324_a_1.223_b_0.171.ppm
Dataset/roni_output/325_a_0.212_b_-0.004.ppm
Dataset/roni_output/326_a_0.893_b_0.108.ppm
Dataset/roni_output/327_a_0.819_b_0.163.ppm
Dataset/roni_output/328_a_0.965_b_0.191.ppm
Dataset/roni_output/329_a_1.001_b_0.0.ppm
Dataset/roni_output/330_a_1.063_b_1.531.ppm
Dataset/roni_output/331_a_1.001_b_0.0.ppm
Dataset/roni_output/332_a_1.092_b_0.164.ppm
Dataset/roni_output/333_a_1.376_b_-0.005.ppm
Dataset/roni_output/334_a_1.001_b_0.0.ppm
Dataset/roni_output/335_a_1.001_b_0.0.ppm
Dataset/roni_output/336_a_1.001_b_0.0.ppm
Dataset/roni_output/337_a_1.001_b_0.0.ppm
Dataset/roni_output/338_a_1.001_b_0.0.ppm
Dataset/roni_output/339_a_0.105_b_1.172.ppm
Dataset/roni_output/340_a_0.984_b_0.122.ppm
Dataset/roni_output/341_a_1.001_b_0.0.ppm
Dataset/roni_output/342_a_1.001_b_0.0.ppm
Dataset/roni_output/343_a_1.001_b_0.0.ppm
Dataset/roni_output/344_a_1.001_b_0.0.ppm
Dataset/roni_output/345_a_-1.308_b_7.807.ppm
Dataset/roni_output/346_a_1.001_b_0.0.ppm
Dataset/roni_output/347_a_1.001_b_0.0.ppm
Dataset/roni_output/348_a_0.973_b_0.154.ppm
Dataset/roni_output/349_a_1.001_b_0.0.ppm
Dataset/roni_output/350_a_1.001_b_0.0.ppm
Dataset/roni_output/351_a_1.001_b_0.0.ppm
Dataset/roni_output/352_a_1.001_b_0.0.ppm
Dataset/roni_output/353_a_0.777_b_0.003.ppm
Dataset/roni_output/354_a_0.897_b_0.178.ppm
Dataset/roni_output/355_a_1.033_b_0.049.ppm
Dataset/roni_output/356_a_1.001_b_0.0.ppm
Dataset/roni_output/357_a_1.001_b_0.0.ppm
Dataset/roni_output/358_a_1.001_b_0.0.ppm
Dataset/roni_output/359_a_1.001_b_0.0.ppm
Dataset/roni_output/360_a_1.001_b_0.0.ppm
Dataset/roni_output/361_a_1.001_b_0.0.ppm
Dataset/roni_output/362_a_0.157_b_0.248.ppm
Dataset/roni_output/363_a_1.765_b_-0.257.ppm
Dataset/roni_output/364_a_1.001_b_0.0.ppm
Dataset/roni_output/365_a_1.001_b_0.0.ppm
Dataset/roni_output/366_a_1.109_b_-0.029.ppm
Dataset/roni_output/367_a_0.983_b_0.159.ppm
Dataset/roni_output/368_a_1.001_b_0.0.ppm
Dataset/roni_output/369_a_1.001_b_0.0.ppm
Dataset/roni_output/370_a_1.001_b_0.0.ppm
Dataset/roni_output/371_a_1.001_b_0.0.ppm
Dataset/roni_output/372_a_0.274_b_0.359.ppm
Dataset/roni_output/373_a_1.001_b_0.0.ppm
Dataset/roni_output/374_a_2.284_b_-0.439.ppm
Dataset/roni_output/375_a_1.001_b_0.0.ppm
Dataset/roni_output/376_a_1.626_b_0.128.ppm
Dataset/roni_output/377_a_1.001_b_0.0.ppm
Dataset/roni_output/378_a_1.514_b_-0.324.ppm
Dataset/roni_output/379_a_1.001_b_0.0.ppm
Dataset/roni_output/380_a_1.001_b_0.0.ppm
Dataset/roni_output/381_a_1.001_b_0.0.ppm
Dataset/roni_output/382_a_1.001_b_0.0.ppm
Dataset/roni_output/383_a_1.113_b_-0.046.ppm
Dataset/roni_output/384_a_1.001_b_0.0.ppm
Dataset/roni_output/385_a_1.61_b_-0.348.ppm
Dataset/roni_output/386_a_1.001_b_0.0.ppm
Dataset/roni_output/387_a_0.488_b_0.14.ppm
Dataset/roni_output/388_a_1.001_b_0.0.ppm
Dataset/roni_output/389_a_0.86_b_-0.021.ppm
Dataset/roni_output/390_a_1.001_b_0.0.ppm
Dataset/roni_output/391_a_1.001_b_0.0.ppm
Dataset/roni_output/392_a_1.001_b_0.0.ppm
Dataset/roni_output/393_a_1.448_b_-0.079.ppm
Dataset/roni_output/394_a_1.001_b_0.0.ppm
Dataset/roni_output/395_a_1.001_b_0.0.ppm
Dataset/roni_output/396_a_1.001_b_0.0.ppm
Dataset/roni_output/397_a_0.969_b_2.324.ppm
Dataset/roni_output/398_a_1.001_b_0.0.ppm
Dataset/roni_output/399_a_1.001_b_0.0.ppm
Dataset/roni_output/400_a_1.001_b_0.0.ppm
Dataset/roni_output/401_a_0.665_b_0.228.ppm
Dataset/roni_output/402_a_1.001_b_0.0.ppm
Dataset/roni_output/403_a_1.739_b_0.074.ppm
Dataset/roni_output/404_a_0.274_b_1.061.ppm
Dataset/roni_output/405_a_0.915_b_0.2.ppm
Dataset/roni_output/406_a_1.001_b_0.0.ppm
Dataset/roni_output/407_a_0.958_b_0.165.ppm
Dataset/roni_output/408_a_0.501_b_0.181.ppm
Dataset/roni_output/409_a_0.922_b_0.222.ppm
Dataset/roni_output/410_a_1.177_b_0.017.ppm
Dataset/roni_output/411_a_1.001_b_0.0.ppm
Dataset/roni_output/412_a_0.349_b_0.391.ppm
Dataset/roni_output/413_a_0.454_b_0.947.ppm
Dataset/roni_output/414_a_1.001_b_0.0.ppm
Dataset/roni_output/415_a_1.001_b_0.0.ppm
Dataset/roni_output/416_a_1.001_b_0.0.ppm
Dataset/roni_output/417_a_1.001_b_0.0.ppm
Dataset/roni_output/418_a_1.44_b_-0.261.ppm
Dataset/roni_output/419_a_1.14_b_0.158.ppm
Dataset/roni_output/420_a_1.07_b_0.72.ppm
Dataset/roni_output/421_a_1.395_b_-0.062.ppm
Dataset/roni_output/422_a_2.111_b_-1.102.ppm
Dataset/roni_output/423_a_1.001_b_0.0.ppm
Dataset/roni_output/424_a_1.001_b_0.0.ppm
Dataset/roni_output/425_a_1.001_b_0.0.ppm
Dataset/roni_output/426_a_1.118_b_0.092.ppm
Dataset/roni_output/427_a_1.558_b_-0.23.ppm
Dataset/roni_output/428_a_1.001_b_0.0.ppm
Dataset/roni_output/429_a_1.001_b_0.0.ppm
Dataset/roni_output/430_a_0.792_b_0.063.ppm
Dataset/roni_output/431_a_1.001_b_0.0.ppm
Dataset/roni_output/432_a_1.001_b_0.0.ppm
Dataset/roni_output/433_a_1.001_b_0.0.ppm
Dataset/roni_output/434_a_1.001_b_0.0.ppm
Dataset/roni_output/435_a_0.535_b_0.155.ppm
Dataset/roni_output/436_a_1.001_b_0.0.ppm
Dataset/roni_output/437_a_1.381_b_0.106.ppm
Dataset/roni_output/438_a_1.994_b_0.116.ppm
Dataset/roni_output/439_a_0.7_b_0.176.ppm
Dataset/roni_output/440_a_1.001_b_0.0.ppm
Dataset/roni_output/441_a_1.551_b_0.192.ppm
Dataset/roni_output/442_a_1.001_b_0.0.ppm
Dataset/roni_output/443_a_1.18_b_0.146.ppm
Dataset/roni_output/444_a_1.162_b_-0.19.ppm
Dataset/roni_output/445_a_1.001_b_0.0.ppm
Dataset/roni_output/446_a_1.001_b_0.0.ppm
Dataset/roni_output/447_a_4.194_b_2.632.ppm
Dataset/roni_output/448_a_1.86_b_-0.233.ppm
Dataset/roni_output/449_a_1.178_b_-0.029.ppm
Dataset/roni_output/450_a_1.001_b_0.0.ppm
Dataset/roni_output/451_a_1.026_b_0.831.ppm
Dataset/roni_output/452_a_1.001_b_0.0.ppm
Dataset/roni_output/453_a_2.312_b_-2.123.ppm
Dataset/roni_output/454_a_1.076_b_0.043.ppm
Dataset/roni_output/455_a_0.644_b_-0.114.ppm
Dataset/roni_output/456_a_0.56_b_0.558.ppm
Dataset/roni_output/457_a_-7.682_b_14.207.ppm
Dataset/roni_output/458_a_1.001_b_0.0.ppm
Dataset/roni_output/459_a_-4.894_b_11.768.ppm
Dataset/roni_output/460_a_0.219_b_0.893.ppm
Dataset/roni_output/461_a_-1.909_b_1.27.ppm
Dataset/roni_output/462_a_1.001_b_0.0.ppm
Dataset/roni_output/463_a_1.145_b_-0.073.ppm
Dataset/roni_output/464_a_1.001_b_0.0.ppm
Dataset/roni_output/465_a_1.001_b_0.0.ppm
Dataset/roni_output/466_a_1.001_b_0.0.ppm
Dataset/roni_output/467_a_1.216_b_-0.146.ppm
Dataset/roni_output/468_a_3.705_b_-4.401.ppm
Dataset/roni_output/469_a_0.924_b_0.5.ppm
Dataset/roni_output/470_a_1.457_b_0.627.ppm
Dataset/roni_output/471_a_-0.027_b_0.656.ppm
Dataset/roni_output/472_a_1.001_b_0.0.ppm
Dataset/roni_output/473_a_-2.002_b_0.272.ppm
Dataset/roni_output/474_a_0.809_b_-0.065.ppm
Dataset/roni_output/475_a_1.001_b_0.0.ppm
Dataset/roni_output/476_a_1.001_b_0.0.ppm
Dataset/roni_output/477_a_1.062_b_0.069.ppm
Dataset/roni_output/478_a_3.391_b_-3.349.ppm
Dataset/roni_output/479_a_0.929_b_0.193.ppm
Dataset/roni_output/480_a_1.001_b_0.0.ppm
Dataset/roni_output/481_a_1.001_b_0.0.ppm
Dataset/roni_output/482_a_0.905_b_0.236.ppm
Dataset/roni_output/483_a_1.001_b_0.0.ppm
Dataset/roni_output/484_a_0.899_b_0.083.ppm
Dataset/roni_output/485_a_1.001_b_0.0.ppm
Dataset/roni_output/486_a_0.909_b_0.147.ppm
Dataset/roni_output/487_a_0.929_b_-0.202.ppm
Dataset/roni_output/488_a_1.385_b_-0.399.ppm
Dataset/roni_output/489_a_1.001_b_0.0.ppm
Dataset/roni_output/490_a_1.146_b_-0.191.ppm
Dataset/roni_output/491_a_0.906_b_0.245.ppm
Dataset/roni_output/492_a_1.001_b_0.0.ppm
Dataset/roni_output/493_a_1.001_b_0.0.ppm
Dataset/roni_output/494_a_1.001_b_0.0.ppm
Dataset/roni_output/495_a_1.001_b_0.0.ppm
Dataset/roni_output/496_a_1.108_b_0.081.ppm
Dataset/roni_output/497_a_0.699_b_0.621.ppm
Dataset/roni_output/498_a_1.001_b_0.0.ppm
Dataset/roni_output/499_a_1.188_b_0.676.ppm
Dataset/roni_output/500_a_1.001_b_0.0.ppm
Dataset/roni_output/501_a_0.999_b_0.111.ppm
Dataset/roni_output/502_a_0.645_b_0.415.ppm
Dataset/roni_output/503_a_0.873_b_0.054.ppm
Dataset/roni_output/504_a_1.001_b_0.0.ppm
Dataset/roni_output/505_a_1.009_b_-0.056.ppm
Dataset/roni_output/506_a_0.364_b_0.558.ppm
Dataset/roni_output/507_a_1.023_b_0.074.ppm
Dataset/roni_output/508_a_1.05_b_-0.009.ppm
Dataset/roni_output/509_a_1.001_b_0.0.ppm
Dataset/roni_output/510_a_1.038_b_0.162.ppm
Dataset/roni_output/511_a_1.001_b_0.0.ppm
Dataset/roni_output/512_a_1.001_b_0.0.ppm
Dataset/roni_output/513_a_0.898_b_0.114.ppm
Dataset/roni_output/514_a_0.969_b_0.471.ppm
Dataset/roni_output/515_a_1.001_b_0.0.ppm
Dataset/roni_output/516_a_1.001_b_0.0.ppm
Dataset/roni_output/517_a_1.525_b_0.43.ppm
Dataset/roni_output/518_a_3.374_b_0.33.ppm
Dataset/roni_output/519_a_1.024_b_0.117.ppm
Dataset/roni_output/520_a_1.001_b_0.0.ppm
Dataset/roni_output/521_a_1.236_b_-0.12.ppm
Dataset/roni_output/522_a_1.001_b_0.0.ppm
Dataset/roni_output/523_a_1.001_b_0.0.ppm
Dataset/roni_output/524_a_1.001_b_0.0.ppm
Dataset/roni_output/525_a_1.001_b_0.0.ppm
Dataset/roni_output/526_a_1.001_b_0.0.ppm
